{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="container">
	<h2 class="jumbotron text-center">The Fish</h2>
	<div class="text-center">
		<img src="/static/images/fish.jpg" alt="Girl in a jacket" width="500" height="600">
	</div>
	<h4>Style packed with volume</h4>
	<p>
		The fish is a small board packed with volume. This allows for easy paddling on smaller days and provides a flowing feel while surfing down the line. Traditionally, these boards are ridden with twin keel fins that allow for wide arching turns on the face of the wave. However, more modern fish boards have been designed with quad fins, allowing more hold in turns and adding more performance and responsiveness to the board to be ridden in bigger waves. These boards can be ridden in all sorts of conditions and are enjoyed by any surfer looking for an alternative board.
	</p>
</div>
{% endblock %}