{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<h2 class="jumbotron text-center">The Glider</h2>
<div class="text-center">
	<img src="/static/images/glider.jpg" alt="Girl in a jacket" width="500" height="600">
</div>
<h4>Speed and Trim</h4>
<p>
	Popular for their speed, the glider is one of the most classic style of surfboards out there. Most gliders are larger boards in the 10-12ft range. They have unique concaves that run along the bottom of the board that allow the water to funnel through it while trimming waves at high speed. Gliders can be ridden in waves from knee to shoulder high. 
</p>

{% endblock %}