{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div style="background-color:">
	<div class="jumbotron text-center">
		{% if current_user.is_authenticated %}
			<h1>Hello, {{ current_user.username }}</h1>
		{% else %}
			<h1>Hello, Stranger</h1>
		{% endif %}
	</div>
	<div class="container">
		<div class="row">
			<div class="column">
				<a href="{{ url_for('ladylog')}}">
				<img src="/static/images/picture.jpg" alt="Girl in a jacket" width="500" height="600" class="image">
				<div class="middle">
					<div class="text">LadyLog</div>
				</div>
			</div>
			<div class="column">
				<a href="{{ url_for('fish')}}">
				<img src="/static/images/fish.jpg" alt="yellow board" width="500" height="600" class="image">
				<div class="middle">
					<div class="text">Fish</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<a href="{{ url_for('glider')}}">
				<img src="/static/images/glider.jpg" alt="Girl in a jacket" width="500" height="600">
			</div>
			<div class="column">
				<a href="{{ url_for('noserider')}}">
				<img src="/static/images/noserider.png" alt="Girl in a jacket" width="500" height="600">
			</div>
		</div>
	</div>
</div>

{% endblock %}
