{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<h2 class="jumbotron text-center">The LadyLog</h2>
<div class="text-center">
	<img src="/static/images/picture.jpg" alt="Girl in a jacket" width="500" height="600">
</div>
	<h4>Delicate Grace</h4>
	<p>
		Ladylogs are lighter longboards normally surfed by women. The lower volume allows for easier turning. Most ladylogs are shaped with a large concave under the nose of the board to allow lift while noseriding and provide the rider with the ability to perform tens down the line. Ladylogs are also easier to turn than traditional noseriders due to their smaller tail block length.
	</p>

{% endblock %}