{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<h2 class="jumbotron text-center">The Noserider</h2>
<div class="text-center">
	<img src="/static/images/noserider.png" alt="Girl in a jacket" width="500" height="600">
</div>
<h4>The Traditional</h4>
	<p>
		Noseriding is something all longboarders pursue. These boards help them achieve it. With their large concave underneath the nose of the board, surfers are able to achieve hang tens as they cruise down the line. These boards also have wide tails that provide hold in the wave allowing the rider to stay perched on the nose as they go through critical sections of the wave. These boards are usually high in density and ridden with a pivot fin as the boards are hard to turn with their high volume and block tails. The pivot fins allows them to perform sweeping bottom turns to set their line as they walk to the nose.
	</p>


{% endblock %}